HOST=localhost
PORT=3000

# Database Configuration
PGUSER=your_pg_user
PGHOST=localhost
PGPASSWORD=your_pg_password
PGDATABASE=your_pg_database
PGPORT=5432

# Token Configuration
ACCESS_TOKEN_KEY=your_access_token_key_secret
REFRESH_TOKEN_KEY=your_refresh_token_key_secret
ACCESS_TOKEN_AGE=24h

# AI WebSocket Integration
AI_WS_URL=ws://127.0.0.1:8000/ws/predict

# Seed Admin Credentials
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=password
